
<div class="login-page-wrapper">
  <div class="container-login">
  {{#if error_msg}}
    {{#each error_msg}}   
    <li class="alert-error">{{msg}}</li> 
    {{/each}}
  {{/if}}
   {{#if success_msg}}
  <li class="alert-success">
    <a>{{success_msg}}</a>
  </li>
  {{/if}}
    <h3>Log in</h3>
    <form method="POST" action="/login">
        <label>
          <b>Email</b>
        </label>
        <input class="email-username" type="text" placeholder="Enter your email " name="username"  >
        <label>
          <b>Password</b>
        </label>
        <input class="password" type="password" placeholder="Enter Password" name="password" >
        <button class="btn-login" type="submit">Login</button>
        <input type="checkbox" checked="checked"> Remember me
        <span class="psw">Forgot
          <a href="#">password?</a>
        </span>
        <hr>
        <h6>
          <b>Not a memeber?</b>
        </h6>
          <a class="btn-create-account-login" href="/signup">Create account</a>
    </form>
  </div>
</div>