<div class="signup-page-wrapper">
  <div class="container-signup">
     <h3>Create a New Account</h3>
<form >
  <div class="container">
    <label><b>Your name</b></label>
    <input class="email" type="text" placeholder="Enter your username " name="username" required>
     <label><b>Email</b></label>
    <input class="email"type="email" placeholder="Enter your email" name="email" required>
    <label><b>Password</b></label>
    <input class="password"type="password" placeholder="At least 6 characters " name="password" required>
    <label><b>Confirm password</b></label>
    <input class="password"type="password" placeholder="Enter Password again" name="confirmpassword" required>
    <button class="btn-create-account" type="submit">Create Your Account</button>
    <hr>
    <span class="redirect-login">Already have an account<a href="/login"> Sign In</a></span>
</form>
  </div>
</div>