
<div class="signup-page-wrapper">
  
  <div class="container-signup">
  {{#if errors}}
    {{#each errors}}
      <div class="alert-error">
      <li>{{msg}}</li> 
      </div>
    {{/each}}
  {{/if}}
     <h3>Create a New Account</h3>
<form method="POST" action="/signup">
  <div class="container">
     <label><b>Email adress</b></label>
    <input class="email"type="email" placeholder="Enter your email" name="email" >
    <label><b>FirstName</b></label>
    <input class="username" type="text" placeholder="FirstName " name="firstname" >
      <label><b>LastName</b></label>
    <input class="username" type="text" placeholder="FirstName " name="lastname" required>
    <label><b>Password</b></label>
    <input class="password"type="password" placeholder="At least 6 characters " name="password" required>
    <label><b>Confirm password</b></label>
    <input class="password"type="password" placeholder="Enter Password again" name="confirmpassword" >
     <button class="btn-create-account" >Create Your Account</button>
    <hr>
    <span class="redirect-login">Already have an account<a href="/login"> Sign In</a></span>
</form>
  </div>
</div>