{{>navbar}}
  {{#if success_msg}}
  <li class="alert-success">
    <a>{{success_msg}}</a>
  </li>
  {{/if}}

{{#each results}}
<p>{{type}}</p>
<p>{{email}}</p>
<p>{{username}}</p>
{{/each}}
{{#if user_basic}}
<p>user pro</p>
{{/if}}
<p>user basic</p>
<p>cusotomer</p>