<aside class="wrapper-departments">
  <div class="departments">
  <form method="GET" action="/category/:category_name">
    <ul>  
      <li class="card-btn-departments-brand"><a href="#">Categories</a></li>
      <li class="card-btn-departments" ><a href="/category/pdf-files">PDF File</a></li>
      <li class="card-btn-departments"><a href="/category/images">Images</a></li>
      <li class="card-btn-departments"><a  href="/category/website-themes">Website Themes</a></li>
      <li class="card-btn-departments"><a href="/category/music-sheets">Music Files</a></li>
       <li class="card-btn-departments"><a  href="/category/scripts">Scripts</a></li>
      <li class="card-btn-departments"><a href="/category/cv">CV</a></li>
      <li class="card-btn-departments"><a href="/category/plugins">PLugins</a></li>
      <li class="card-btn-departments"><a href="/category/graphics">Graphics</a></li> 
    </ul>
    </form>
  </div>

</aside>

