<aside class="wrapper-departments">
  <div class="departments">
    <ul>
      <li class="card-btn-departments-brand"></i><a href="">departments</a></li>
      <li class="card-btn-departments"><a  href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
       <li class="card-btn-departments"><a  href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
       <li class="card-btn-departments"><a  href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
       <li class="card-btn-departments"><a  href="">shoes</a></li>   
    </ul>
  </div>

</aside>