<aside class="wrapper-departments">
  <div class="departments">
  <form method="GET" action="/category">
    <ul>
      
      <li class="card-btn-departments-brand"><a name='categoryName'href="">Departments</a></li>
      <li class="card-btn-departments"><a name='categoryName' href="">PDF File</a></li>
      <li class="card-btn-departments"><a name='categoryName' href="">Images</a></li>
      <li class="card-btn-departments"><a name='categoryName' href="">Website Themes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
       <li class="card-btn-departments"><a  href="">Scripts</a></li>
      <li class="card-btn-departments"><a href="">CV</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
       <li class="card-btn-departments"><a  href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
      <li class="card-btn-departments"><a href="">shoes</a></li>
       <li class="card-btn-departments"><a  href="">shoes</a></li>   
    </ul>
    </form>
  </div>

</aside>

