

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign up for an account</h4>
        </div>
        <div class="modal-body text-center">
         <a class='signup-links'href="/customer/signup">Sing up as customer</a>
      <a class='signup-links'href="/user-basic/signup">Sing up as User Basic</a>
      <a class='signup-links' href="user-pro/signup">Sing up as User Pro</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>