<nav>
<div id="navbar">
  <div id="navbar-container">
   <span class="open-slide">
          <a href="#" class="openSlideMenu" id="open-slide">
            <svg width="30" height="25">
              <path d="M0,5 30,5" stroke="#fff" stroke-width="4" />
              <path d="M0,14 30,14" stroke="#fff" stroke-width="4" />
              <path d="M0,23 30,23" stroke="#fff" stroke-width="4" />
            </svg>
          </a>
        </span>
        <a  class="brand"href="/">Brand</a>
         <div class="search-container">
    <form >
     
      <input  class="desktop-input-search"type="text" placeholder="Search.." name="search">
      <button class="desktop-search-btn "  type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
    <div class="navbar-right">
      <div class="shopping-card">
      <a  href=""><i class="fa fa-shopping-cart "> 0</i></a>
        </div>
        <div class="dropdown-user-sign">
          <button class="dropbtn">
          <i class="fa fa-user fa-1x "></i>  
           <span class="log-in">Log In | join </span>
            <i class="fa fa-caret-down"></i>
      </button>
    <div id="dropdown-content-user-sign">
       <a  href="/login">Log In</a>
     <a href="/signup">Sign Up</a>
      
   </div>
  </div> 
  </div>
</div>


</div>
</nav>
    <div id="search-wrapper-mobile">
      <div class="container-search-mobile">
      <form action="">
        <input type="text" id="search-input-mobile" placeholder="Search..." name="search">
        <button class="mobile-search-btn "  type="submit"><i class="fa fa-search"></i></button>
      </form>
      </div>
      </div>
    </div>

    <div id="side-menu" class="side-nav">
    <div class="head-side-nav">
      <a href="#">Hello:Name</a>
      <a href="#" id="btn-close">&times;</a>
      </div class="body-side-nav">
      <a href="/admin">Admin</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
      </div>
    </div>