
    <nav class="navbar">
      <div class="container-navbar">
        <span class="open-slide">
          <a href="#" class="openSlideMenu" id="open-slide">
            <svg width="30" height="30">
              <path d="M0,5 30,5" stroke="#fff" stroke-width="5" />
              <path d="M0,14 30,14" stroke="#fff" stroke-width="5" />
              <path d="M0,23 30,23" stroke="#fff" stroke-width="5" />
            </svg>
          </a>
        </span>
        <div class="navbar-brand">
          <img class="logo" src="" alt="Logon">
        </div>
        <div id="navba-right">
          <a href="#" id="shopping-cart">
            <i class="fa fa-shopping-cart fa-2x"> 0</i>
          </a>
          <a href="" id="user-icon">
            <i class="fa fa-user fa-2x"></i>
            <span class="sign">Sign | join </span>
          </a>
        </div>
        <div id="search-container-desktop">
          <form action="">
            <div class="categories_selector">
              <div class="select_category">
                <span class="selected_category">All</span>
                <span class=""></span>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </div>

              <select id="categories" name="categories">
                <option value="all">All</option>
                <option value="pants">Pants</option>
                <option value="pants">Pants</option>
                <option value="shoes">Shoes</option>
                <option value="pants">Pants</option>
                <option value="shoes">Shoes</option>
                <option value="pants">Pants</option>
                <option value="shoes">Shoes</option>
                <option value="pants">Pants</option>
                <option value="shoes">Shoes</option>
                <option value="pants">Pants</option>
                <option value="shoes">Shoes</option>
                <option value="pants">Pants</option>
                <option value="shoes">Shoes</option>
                <option value="pants">Pants</option>
              </select>
            </div>
            <input type="text" id="search-input-desktop" placeholder="Search.." name="search">
            <input class="button-search-desktop" type="submit"/>
              </i>
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div id="search-container-mobile">
      <form action="">
        <input type="text" id="search-input-mobile" placeholder="&#xF002" name="search">

      </form>
    </div>

    <div id="side-menu" class="side-nav">
      <a href="#" id="btn-close" onclick="closeSlideMenu()">&times;</a>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Contact</a>
    </div>

 
   
 