<div class="side-menu">

    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="brand-wrapper">
                <!-- Hamburger -->
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Brand -->
                <div class="brand-name-wrapper">
                    <a class="navbar-brand " href="/">
                        Brand
                    </a>
                </div>
                <!-- Search body -->
                <div id="search" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="navbar-form" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default ">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <!-- Main Menu -->
        <div class="side-menu-container">
            <ul class="nav navbar-nav">
                <li>
                    <a class="sidebar-a-tag" href="/dashboard">
                        <span class="glyphicon glyphicon-cog"></span> Dashboard</a>
                </li>
                <!--profile-->
                <!-- Dropdown-->
                <li class="panel panel-default sidebar-li" id="dropdown">
                    <a class="sidebar-a-tag" data-toggle="collapse" href="#profile-user">
                        <span class="glyphicon glyphicon-user"></span>{{session.passport.user.username}}
                        <span class="caret"></span>
                    </a>

                    <!-- Dropdown level 1 -->
                    <div id="profile-user" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a class="sidebar-a-tag" href="/profile">
                                      <span class="glyphicon glyphicon-tag"></span>
                                    Your Profile</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>

                <!--products -->
                <li class="panel panel-default" id="dropdown">
                    <a class="sidebar-a-tag" data-toggle="collapse" href="#dropdown-settings">
                        <span class="glyphicon glyphicon-cog"></span> Settings
                        <span class="caret"></span>
                    </a>
                    <div id="dropdown-settings" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a class="sidebar-a-tag" href="/profile/settings">
                                      <span class="glyphicon glyphicon-tag"></span>
                                    Profile</a>
                                </li>
                                <li>
                                    <a class="sidebar-a-tag" href="/password/reset">
                                      <span class="glyphicon glyphicon-tag"></span>
                                    Change Password</a>
                                </li>
                                <li>
                                    <a class="sidebar-a-tag" href="/email/change">
                                      <span class="glyphicon glyphicon-tag"></span>
                                    Change Email</a>
                                </li>
                            </ul>
                        </div>
                </li>

                <!--products -->
                <li class="panel panel-default" id="dropdown">
                    <a class="sidebar-a-tag" data-toggle="collapse" href="#dropdown-products">
                        <span class="glyphicon glyphicon-list-alt"></span> Products
                        <span class="caret"></span>
                    </a>
                    <div id="dropdown-products" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a class="sidebar-a-tag " href="/product/add">
                                      <span class="glyphicon glyphicon-tag"></span>
                                    Add new product</a>
                                </li>
                                <li>
                                    <a class="sidebar-a-tag" href="/product/list">
                                      <span class="glyphicon glyphicon-tag"></span>
                                    View product list</a>
                                </li>

                            </ul>
                        </div>
                </li>

                <!--pages-->
                <li class="panel panel-default" id="dropdown">
                    <a class="sidebar-a-tag" data-toggle="collapse" href="#dropdown-pages">
                        <span class="glyphicon glyphicon-book"></span>Pages
                        <span class="caret"></span>
                    </a>
                    <div id="dropdown-pages" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">

                                <li>
                                    <a class="sidebar-a-tag" href="/">
                                      <span class="glyphicon glyphicon-tag"></span>
                                    Home Page</a>
                                </li>
                                <li>
                                    <a class="sidebar-a-tag" href="/contact">
                                      <span class="glyphicon glyphicon-envelope"></span>
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>