<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
 
 <meta name="keywords" content="HTML,CSS,JavaScript">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>{{title}}</title>
    <link rel="stylesheet" href="/dist/style.css">

<script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>
  {{{body}}}
  
   <script src="/dist/bundle.js"></script>
     <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPyBqBFVXmckTaXihLzvY3qAsvisqjC8w&callback=initMap">
    </script>
</script>
</body>
</html>
