<!DOCTYPE HTML5>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/dist/style.css">

</head>
<body>
  {{{body}}}


  <script src="/dist/bundle.js"></script>
  <script>
 
  </script>
     <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPyBqBFVXmckTaXihLzvY3qAsvisqjC8w&callback=initMap">
    </script>
</script>
</body>
</html>
