<!DOCTYPE HTML5>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/dist/style.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
 
  {{{body}}}
  <script src="/dist/bundle.js"></script>
</body>
</html>
