<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/js/style.css">
</head>
<body>
  {{>navbar}} 
  {{>flash-messages}}
  {{{body}}}
  <script src="/js/bundle.js"></script>
</body>
</html>
