<!DOCTYPE html5>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/js/style.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  {{>header}}
  {{>flash-messages}}
  {{{body}}}
  <script src="/js/bundle.js"></script>
</body>
</html>
