.footer{
    height: 50px;
    width: 100%;
    background-color:$navbar-color;
    color:#f4f4f4f4;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top:10px;
    
}