.alert-error_msg{
  width: 100%;
  background-color: #ff5d60;
  text-align: center;
  color: #fff;
  font-size: 15px;
  padding: 5px 0px 10px 5px;
  
}

.alert-success_msg{
  width: 100%;
  background-color: #51bb78;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 10px;

}


@media all and (max-width:1024px){ 
  .alert-success_msg{
    width: 95%;
    margin: 0 auto;
  }
  
  .alert-error_msg{
    width: 95%;
    margin: 0 auto;
  }
  
}

