.alert-error_msg{
  width: 100%;
  background-color: #ff5d60;
  text-align: center;
  color: #fff;
  font-size: 15px;
  padding: 5px 0px 10px 5px;
  
}

.alert-success_msg{
  width: 100%;
  background-color: #51bb78;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 10px;

}

.alert-warning_msg{
  width: 100%;
  background-color: #ffe85d;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  color: black;

}
.alert-info_msg{
  width: 100%;
  background-color: #0098ec;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 10px;

}
.alerts-reset-psw{
  width: 90%;
  margin: 0 auto;
}

@media all and (max-width:1024px){ 
  .alert-success_msg,
  .alert-info_msg,
  .alert-error_msg,
  .alert-warning_msg{
    width: 95%;
    margin: 0 auto;
  }
}
