.wrapperAvatar {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: none;
    background-position: center;
    background-size: 200px 200px;
  
}



.upload-btn,.upload-btn-file {
    color: #ffffff;
    background-color: $btn-color;
    border: none;
  }
  
  #upload-input-product-image , #upload-input-product-file{
    
    display: none;
  }

