.login-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    color: $font-color;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.password,
.email-username {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn-login {
    background-color: $button-color-login-signup;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    &:hover{
        opacity: 0.8;}
}


span.psw {
    float: right;
}

.container-login {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
    padding: 16px;
    .container-login-paragraph {
        text-align: center;
    }
}

@media all and (min-width:768px) {
    .container-login {
        //margin:auto;
        border: 3px solid #f1f1f1;
        width: 400px;
        background-color: $bg-color-container-login-signup;
       .container-login-no-account,
       .container-login-title {
            text-align: center;
        }
    }
}

@media all and (max-width:768px) {
    .container-login {
        border: 3px solid #f1f1f1;
        width: 80%;
        margin: 0 auto;
        background-color: $bg-color-container-login-signup;
        .container-login-no-account,
        .container-login-title {
            text-align: center;
        }
    }
    .password,
    .email-username {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
}

@media all and (max-width:568px) {
    .container-login {
        border: 3px solid #f1f1f1;
        width: 95%;
        margin: 0 auto;
        background-color: $bg-color-container-login-signup;
        .container-login-no-account,
        .container-login-title{
            text-align: center;
        }
    }
}