.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 250px;
    height: 500px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0 20px 10px;
    box-shadow: 2px 3px 3px 4px #eee;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .card-header {
        border-radius: 5px 5px 0 0;
        width: 90%;
        height: 250px;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
            border-radius: 5px;
            font-size: 20px;
        }
    }
    .card-body {
        height: 170px;
        overflow-wrap: break-word;
        padding-left: 10px;
        .card-title {
            color: $font-color;
            a{
                color: #2e2d2d;
            }
        }
        .card-description {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100% - 1px);
        }
    }
    .card-footer {
        width: 100%;
        height: 50px;
        .card-btn-details {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 5px;
            height: 100%;
            border: none;
            outline: 0;
            color: white;
            background-color: $btn-color;
            text-align: center;
            position: relative;
            right: 0;
            bottom: 0;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: #f4f4f4;
            }
        }
    }
}

@media all and (max-width:1024px) and (min-width: 768px) {
    .card {
        width: 100%;
        margin: 10px auto 10px auto;
        height: auto;
        .card-header {
            border-radius: 5px 5px 0 0;
            width: 650px;
            height: 450px;
            margin: 0 auto;
        }
    }
}

@media all and (max-width:768px) {
    .card {
        width: 100%;
        margin: 10px auto 10px auto;
        height: auto;
        .card-header {
            border-radius: 5px 5px 0 0;
            width: 450px;
            height: 350px;
            margin: 0 auto;
        }
    }
}

@media all and (max-width:568px) {
    .card {
        width: 100%;
        margin: 10px auto;
        .card-header {
            width: 100%;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}