.alert-error_msg{
    width: 100%;
    background-color: #df5454;
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding: 5px 0px 10px 5px;
   
  }

  .alert-success_msg{
    width: 100%;
    background-color: #2ead5c;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 10px;
  }