.alert-error{
    width: 100%;
    background-color: #df5454;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 5px;
  }

  .alert-success{
    width: 100%;
    background-color: #86f07c;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 10px;
  }