<div class="container">
  {{#if errors}} {{#each errors}}
  <div class="alert alert-danger">
    {{this.msg}}
  </div>
  {{/each}} {{/if}} {{#if success_msg}} {{#each success_msg}}
  <div>{{success_msg}}</div>
  {{/each}} {{/if}}
  <div>
    <form method="POST" action="/posts/add" enctype="multipart/form-data">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Enter title" name="title">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="3" name="description" placeholder="Description"></textarea>
      </div>
      <div class="form-group" id="avatarform">
        <input type="file" name="avatar" id="avatarInput">
      </div>
      <input class="btn btn-primary" type="submit" name="submit">
    </form>
  </div>