{{>navbar}} {{#each rows}}
<div class="container-product-detail">
  <div class="product-details-left">
    <img class="main-img" src="/images/{{this.image}}" alt="">
    <img class="product-thumbnail" src="" alt="">
    <img class="product-thumbnail" src="" alt="">
    <img class="product-thumbnail" src="" alt="">
  </div>
  <div class="product-details-right">
    <h1 class="product-name">{{name}}</h1>
    <p>Author: David lambel</p>
    <p>Category:admin</p>
    <p>Sales:5</p>
    <form action="">
     <select class="form-control qty-btn" >
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
      <div class="wrapper-btn-product">
        <button class="buy-now">
          <a href="#"></a>Buy Now</button>
        <button class="add-to-cart">
          <a href="#"></a>Add to Cart</button>
      </div>
    </form>
  </div>
</div>

<div class="product-description-wrapper">
  <h2>Product description</h2>
  <p>{{description}}</p>
  <hr>
  <h2>What do you get?</h2>
  <li>sdjfjk</li>
  <li>jsfd</li>
  <h2>Product description</h2>

  <p>{{description}}</p>
  <hr>
  <h2>What do you get?</h2>
  <li>sdjfjk</li>
  <li>jsfd</li>
</div>
{{/each}}