 {{#each rows}}
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="panel">
            <div class="panel-body">
              <h1>{{title}}</h1>
              <div>{{description}}</div>
              <img src="/images/{{this.image}}" id="avatarImage" alt="">
            </div>
          </div>
          <div>
          </div>
        </div>
  {{/each}}