$navbar-color:#25333f;
$btn-color:#FDA457;
$icon-colors:#fff;
$icon-boxshadow: 1px 1px 3px 2px #7e929e;
$btn-hover:#867b7b;
$font-color:#313335;
//signin and sign up page colors
$button-color-login-signup:$btn-color;
$bg-color-login-signup:#92bde7;
$bg-color-container-login-signup:#fff;

//backgroung color email,sign-up login
$bg-color:#eee;

$admin-sidebar:#FDA457;
$admin-panel: #25333f ;