$navbar-color:#92bde7;
$icon-colors:#fff;
$icon-boxshadow: 1px 1px 1px 1px #568fd8;
$btn-color:rgb(85, 84, 84);
$btn-hover:#867b7b;

//signin and sign up page colors
$button-color-login-signup: #92bde7;
$bg-color-login-signup:#92bde7;
$bg-color-container-login-signup:#fff;