{{>navbar}}
<div class="container_customer_profile">
        {{#if success_msg}} 
        {{#each success_msg}}
        <div class="alert-success_msg">
          {{msg}}
        </div>
        {{/each}} {{/if}}
      
        {{#if error_msg}} 
        {{#each error_msg}}
        <br>
        <div class="alert-error_msg">
          {{msg}}
        </div>
        {{/each}} 
        {{/if}}
<h1 class="profile-setting-title">Change Email </h1>
<hr>
<div class="customer-profile-settings-wrapper">
<div class="customer-profile-settings-aside">
    <ul>
        <li class='profile-settings-customer-li-header'>Personal settings</li>
        <li class='profile-settings-customer-li'><a class="profile-settings-customer-a" href="/profile/settings">Edit Profile</a></li>
         <li class='profile-settings-customer-li' ><a  class="profile-settings-customer-a" href="/password/reset">Change Password</a></li>
         <li class='profile-settings-customer-li' ><a class="profile-settings-customer-a"  href="/email/change">Change Email</a></li>
    </ul>
</div>
<div class="customer-profile-settings-content">
 <form method="POST" action="/email/change">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <label>Old e-mail:</label>
    <p>{{result.email}}</p>
    <label>New E-mail:</label>
    <input class="customer-profile-settings-content-inputs" type="email" name='newEmail'  required='true' >
     <label>Password</label>
    <input class="customer-profile-settings-content-inputs" type="password" name='password' required='true'>
    
    <button class="btn-customer-settings">Update Email</button>
  </form>
</div>
</div>
</div>