<div class="reset-password-wrapper-customer">
 <div class="reset-password-container-customer">
    <h1>Reset Password</h1>

  <form action="" method="POST">
    <label >Old Password</label>
      <input type="password" name="old-password-customer" id="reset-password-customer" placeholder="">
      <label >New Password</label>
       <input type="password" name="new-password-customer" id="reset-password-customer" placeholder="">
      <label >Confirm New Password</label>
       <input type="password" name="confirm-new-password-customer" id="reset-password-customer" placeholder="">
   <button type="submit"> Reset the Password</button>
  <a  href="/">Cancel</a>
  </form>
 </div>
</div>