{{>navbar}}
<div class="container_customer_profile">
  <h1>Your account</h1>
   <div class="container_customer_profile__item">
     <div class="container_customer_profile__item__item">
      <h1>Your Orders</h1>
      <p>Information about your orders</p>
     </div>
     <div class="container_customer_profile__item__item">
         <a href="/">
       <h1>Account</h1>
       <p>Edit username, password, email</p>
       </a>
     </div>
      <div class="container_customer_profile__item__item">
     <h1>About Us</h1>
       <p>Find More about us</p>
     </div>
   </div>
 
</div>


