{{>navbar}}
<div class="alerts-reset-psw">
    {{#if error_msg}}
    {{#each error_msg}}
    <br>   
    <div class="alert-error_msg">{{msg}}</div> 
    {{/each}}
  {{/if}}
      {{#if success_msg}} 
        {{#each success_msg}}
        <br> 
    <div class="alert-success_msg">{{msg}}</div> 
  {{/each}}
  {{/if}}
<div class="container_customer_profile">
  <h1>Your account</h1>
   <div class="container_customer_profile__item">
     <div class="container_customer_profile__item__item">
      <a  class='customer-profile-boxes'href="/orders">
      <h1>Your Orders</h1>
      <p>Information about your orders</p>
      </a>
     </div>
     
     <div class="container_customer_profile__item__item">
         <a class='customer-profile-boxes'  href="/profile/settings">
       <h1>Account</h1>
       <p>Edit username, password, email</p>
       </a>
     </div>
      <div class="container_customer_profile__item__item">
      <a  class='customer-profile-boxes' href="/about-us">
     <h1>About Us</h1>
       <p>Find More about us</p>
       </a>
     </div>
   </div> 
</div>


