{{>navbar}}
<div class="container_customer_profile">
        {{#if success_msg}} 
        {{#each success_msg}}
        <div class="alert-success_msg">
          {{msg}}
        </div>
        {{/each}} {{/if}}
<h1 class="profile-setting-title">Your Profile Settings</h1>
<hr>
<div class="customer-profile-settings-wrapper">
<div class="customer-profile-settings-aside">
    <ul>
        <li class='profile-settings-customer-li-header'>Personal settings</li>
        <li class='profile-settings-customer-li'><a class="profile-settings-customer-a" href="/profile/settings">Edit Profile</a></li>
         <li class='profile-settings-customer-li' ><a  class="profile-settings-customer-a" href="/password/reset">Change Password</a></li>
         <li class='profile-settings-customer-li' ><a class="profile-settings-customer-a"  href="">Change Email</a></li>
    </ul>
</div>
<div class="customer-profile-settings-content">
 <form method="POST" action="/profile/settings">
    <label >Username</label>
    <input class="customer-profile-settings-content-inputs" type="text" name='usernameCustomer' value="{{results.username}}">
    <label for="">First Name</label>
    <input class="customer-profile-settings-content-inputs" type="text" name='firstnameCustomer' value="{{results.first_name}}">
    <label for=""> LastName</label>
    <input class="customer-profile-settings-content-inputs" type="text" name='lastnameCustomer'  value="{{results.last_name}}">
    <button class="btn-customer-settings">Update</button>
    </form>
</div>
</div>
</div>