{{>navbar}}
     {{#if errors}} 
        {{#each errors}}
        <div class="alert alert-danger">
          {{msg}}
        </div>
        {{/each}} 
        {{/if}} 
        {{#if success_msg}} 
        {{#each success_msg}}
        <div class="alert alert-success">
          {{msg}}
        </div>
        {{/each}} {{/if}}
      
     <h1>Settings</h1>
     <hr>
   <div class="container-customer-settings">
     <aside class="customer-settings-asidebar">
      <ul>
        <li>
          <a href="">Account</a>
        </li>
        <li>
          <a href="">Login and Security</a>
        </li>
      </ul>
     </aside>
     <div class="content-customer-settings">
       <form action="">
       <label >username</label>
      <input class="input-customer-settings" type="text">
        <label>username</label>
      <input class="input-customer-settings" type="text">
        <label>About you</label>
      <textarea type="text"></textarea>

      </form>
     </div>
   </div>
             