<div class="row">
  <!--imported from  partials folder-->
  {{>dashboard-sidebar}}

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
       
      <div class="col-lg-10">
        <h3>Change Password</h3>
        {{#if error_msg}} 
        {{#each error_msg}}
        <div class="alert alert-danger">
          {{msg}}
        </div>
        {{/each}} 
        {{/if}}
        {{#if success_msg}} 
        {{#each success_msg}}
        <div class="alert alert-success">
          {{msg}}
        </div>
        {{/each}} {{/if}}

        <div class="panel panel-default">
          <div class="panel-heading">
            
            <form method="POST" action="/password/reset">
              <h3 class="panel-title">Change Password</h3>
          </div>
          <div class="panel-body">
            <a href="/dashboard" class="btn btn-default pull-right " type="submit" name="submit" data-toggle="tooltip" data-placement="top"
              title="Cancel">
              <i class="fa fa-share" style="color:black"></i>
            </a>
            <button class="btn btn-primary pull-right" type="submit" name="submit" data-toggle="tooltip" data-placement="top" title="Save">
              <i class="fa fa-save"></i>
            </button>
            <div class="tab-content">
              <div class="tab-pane active" id="general" role="tabpanel">
                <br>
               
                <div class="form-group">
                  <label>Old Password</label>
                  <input type="password" class="form-control form-control-lg" placeholder="old password" name="oldPassword" >
                </div>
                <div class="form-group">
                  <label>New Password</label>
                  <input type="password" class="form-control form-control-lg" placeholder="new password" name="newPassword" >
                </div>
                <div class="form-group">
                  <label> Confirm New Password</label>
                  <input type="password" class="form-control form-control-lg" placeholder="confirm new password" name="confirmPassword" >
                </div>
              </div>
              <button type="submit" class="btn btn-default">Update Password</button>
              <a class="pull-right" href="/forgot">forgot password</a>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>