<div class="delete-account-wrapper">
 <div class="delete-account-container">
    
    <h1>Delete Account</h1>
    <hr>
   <h4>You are about to permanently delete the account</h4>
   <p>All your data  will be deleted.</p>
   <p>Are you sure you want to continue ?</p>
   <hr>
  <form action="/delete/account" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
   <button class="delete-button" type="submit">Yes, delete the account</button>
  </form>
  <a class="cancel-button" href="/">Cancel</a>
 </div>
</div>