 <div class="reset-password-container">
 {{!-- <h1>Brand Name</h1> --}}
    <div class="alerts-reset-psw">
   {{#if error_msg}}
    {{#each error_msg}}
    <br>   
    <div class="alert-error_msg">{{msg}}</div> 
    {{/each}}
  {{/if}}
      {{#if success_msg}} 
        {{#each success_msg}}
        <br> 
    <div class="alert-success_msg">{{msg}}</div> 
  {{/each}}
  {{/if}}
  </div>
    <h3>Enter Your New Password</h3>
  <form action="/password/reset/{{result.resetPasswordToken}}" method="POST">
      <label>New Password</label>
      <input type="password" name="password" class="password-reset-input">
       <label > Confirm New Password</label>
      <input type="password" name="confirm" class="password-reset-input">
   <button class="reset-password-btn"type="submit">Submit</button>
  </form>
 </div>
