<div class="reset-password-wrapper">
 <div class="reset-password-container">
    <h3>Enter Your New Password</h3>
  <form action="" method="POST">
      <label>New Password</label>
      <input type="password" name="password-reset" class="password-reset-input">
       <label > Confirm New Password</label>
      <input type="password" name="confirm-new-password-reset" class="password-reset-input">
   <button class="reset-password-btn"type="submit">Submit</button>
  </form>
 </div>
</div>