<div class="reset-password-wrapper">
 <div class="reset-password-container">
    <h1>Enter Your New Password</h1>
    <hr>
  <form action="" method="POST">
      <label>New Password</label>
      <input type="password" name="password-reset" id="password-reset">
       <label > Confirm New Password</label>
      <input type="password" name="confirm-new-password-reset" id="password-reset">
   <button type="submit">Submit</button>
  </form>
 </div>
</div>