  <div class="navbar-reset-password">
    <a href="/login">Log In</a>
  </div>
<div class="reset-password-wrapper">
 <div class="reset-password-container">
    <h1>Enter your email</h1>
   <hr>
  <form action="" method="POST">
    <input type='email' name="email" id="email-reset-password">
   <button type="submit">submit</button>
  </form>
 </div>
</div>