<div class="row">
   <!--imported from  partials folder-->
   {{>admin-sidebar-user-basic}}

        <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="col-lg-10">
        <h3>Change Password</h3>
     
        <div class="panel panel-default">
          
            <form method="POST" action="/settings/password/user_basic" enctype="form-data">
          <div class="panel-body">
             <a href="/dashboard/user_basic" class="btn btn-default pull-right " type="submit" name="submit" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-share" style="color:black" ></i></a>
              <button class="btn btn-primary pull-right" type="submit" name="submit" data-toggle="tooltip" data-placement="top" title="Save">
                <i class="fa fa-save"></i>
              </button>
              <br>
            <div class="tab-content">
              <div class="tab-pane active" id="general" role="tabpanel">
                <div class="form-group">
                  <label>Old password</label>
                  <input type="text" class="form-control form-control-lg" placeholder="Old password" name="old-password">
                </div>
                 <div class="form-group">
                  <label>New password</label>
                  <input type="text" class="form-control form-control-lg" placeholder="New password" name="new-password-">
                </div>
                <div class="form-group">
                  <label>Confirm new password </label>
                  <input type="text" class="form-control form-control-lg" placeholder="Confirm new password" name="confirm-new-password">
                </div>
              </div>
            </div> 
         <button type="submit" class="btn btn-default">Update password</button>
             <a class="pull-right" href=""> I forgot my password</a>
            </div>         
            </form>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>