<div class="row">
   <!--imported from  partials folder-->
   {{>admin-sidebard-user-basic}}

        <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="col-lg-10">
        <h3>Change Email</h3>
     
        <div class="panel panel-default">
          
            <form method="POST" action="/settings/password/user_basic" enctype="form-data">
          <div class="panel-body">
             <a href="/dashboard/user_basic" class="btn btn-default pull-right " type="submit" name="submit" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-share" style="color:black" ></i></a>
              <button class="btn btn-primary pull-right" type="submit" name="submit" data-toggle="tooltip" data-placement="top" title="Save">
                <i class="fa fa-save"></i>
              </button>
              <br>
            <div class="tab-content">
              <div class="tab-pane active" id="general" role="tabpanel">
                <label >Username</label>
                <p>Radu</p>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control form-control-lg" placeholder="your email" name="old-password" value="radu_03@mail.ru">
                </div>
              </div>
            </div> 
         <button type="submit" class="btn btn-default">Update Email</button>
            </div>         
            </form>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>