.navbar-container{
    max-width:1170px;
    margin: 0 auto;

 
}   


.fa {
    color: #f4f4f4;
}

input,
form {
    padding: 0;
    margin: 0;
}


#open-slide {
    margin-top: -2px;
    display: none;
    &:hover {
        box-shadow:$icon-boxshadow;
    }
}

.desktop-input-search {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 15px;
    float: left;
    width: 60%;
    background: #f1f1f1;
    border-radius: 3px 0 0 3px;
    border: 1px solid grey;
    padding: 10px;
    font-size: 17px;
}

.desktop-search-btn {
    margin-top: 10px;
    float: left;
    width: 40px;
    padding: 10px;
     height: 40px;
    background: $btn-color;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    &:hover{
        opacity: 0.9;
    }
}

.navbar {
    overflow: hidden;
    background-color:$navbar-color;
    font-family: Arial;
    font-size: 17px;
}

.hamburger-menu-icon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.brand{
    margin-top:5px;
}
    .shopping-card {
        float: right;
        margin-top: 5px;
        &:hover {
            box-shadow:$icon-boxshadow;
        }
    }

.dropdown-user-sign {
    float: right;
    overflow: hidden;
    margin-top: 5px;
    &:hover {
        box-shadow:$icon-boxshadow;
    }
}

.dropdown-user-sign{
    .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        margin-top: 7px;
        padding: 15px 14px;
        background-color: inherit;
        font: inherit;
        margin: 0;
    }
}

.dropdown-content-user-sign {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 147px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-user-sign a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    &:hover{
        background-color: #eee;
        color: $btn-color;
        font-size: 22px;
        font-weight: bold;
    }
}




.dropdown-user-sign:hover .dropdown-content-user-sign {
    display: block;
}


.dropdown-content-user-sign {
    float: right;
}

#search-input-mobile{
    display: none;
}
.mobile-search-btn{
    display: none;  
}
.side-nav {
    display: none;
}
@media all and ( max-width:1024px){
    
    .side-nav {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $navbar-color;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    
    .side-nav a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 22px;
        color: #ccc;
        display: block;
        transition: 0.3s;
    }
    
    .side-nav a:hover {
        color: #fff;
    }
    
    .side-nav #btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
         margin-left: 50px;
    }
    #search-wrapper-mobile{
        background-color:$navbar-color;
        height: 70px;
       width: 100%;
    }


    #search-input-mobile{
      display: block;
      width: 85%;
      height: 40px;
      float:left;
      font-size: 17px;
      border-radius: 3px 0 0 3px;
      padding: 10px;
      border: 1px solid grey;
    }

    .mobile-search-btn{
        display: block;
        float: right;
        width:15%;
        padding: 10px;
        height: 40px;
        background: $btn-color;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
        border-radius: 0 3px 3px 0;
        
      

    }
    .container-search-mobile{
        width: 98%;
        margin: 0 auto;
        }
    .desktop-input-search {
        display: none;
    }

    .desktop-search-btn {
        display: none;
    }
    #open-slide {
        margin-left: 10px;
        margin-right: -10px;
        padding: 18px 10px 10px 10px;
        display: block;
    }
}

@media all and ( max-width:768px){
    .navbar-container{
        width: 90%;
        margin: 0 auto;
    
    }   
    .container-search-mobile{
    width: 87%;
    margin: 0 auto;
    }
    // .dropdown{
        //     display: none;
    // }
    
    .dropdown-content-user-sign {
        min-width: 110px;}
        .log-in{
            display: none;
        }
    }
    

    @media all and ( max-width:320px){
        .dropdown-user-sign{
            display: none;
        }
    }