.container-main-page{
    max-width:1170px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
   display: flex;
   
}
#products-wrapper {
    width: 80%;
    margin-top: 10px ;
    display: flex;
    flex-wrap: wrap;
 
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    height: auto;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 20px;
    margin-left: 30px;
    box-shadow: 2px 3px 3px 4px #eee;
    .card-img {
        border-radius: 5px 5px 0 0;
        width: 220px;
        height: 250px;
        margin: 0 auto;
        img {
            width: 90%;
            height: 96%;
            display: block;
            margin: 0 auto;
            padding-top: 10px;
        }
        
    }
    .card-title a{
        color:$font-color;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
 height: 150px;
    overflow-wrap: break-word;
    padding-left: 10px;
    p {
        padding: 10px 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 1px);
        
    }
}

.card-btn-details {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px;
    color: white;
    background-color: $btn-color;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
        text-decoration: underline;
    }
}
@media all and (min-width:1024px){
.card{
    height: 500px;
}
}
@media all and (max-width:1024px) and (min-width: 768px) {
    #products-wrapper {
        width: 95%;
    
        margin-top: 10px;
        margin: 10 auto 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media all and (max-width:992px) and (min-width: 768px) {
    .card {
        width: 45%;
        .card-img {
            border-radius: 5px 5px 0 0;
            width: 270px;
            height: 250;
            margin: 0 auto;
        }
    }
}

@media all and (max-width:768px) {
  
        .container-main-page{
            width: 95%;
            margin: 0 auto;
        
        }   
    
    
    #products-wrapper {
        width: 100%;
        margin: 10px auto 0 auto;
        .card {
            width: 100%;
            margin: 10px auto 10px auto;
           
            .card-img {
                border-radius: 5px 5px 0 0;
                width: 450px;
                height: 350px;
                margin: 0 auto;
            }
        }
    }
}

@media all and (max-width:568px) {
    #products-wrapper {
        width: 100%;
        margin: 20px auto 10px auto;
        .card {
            width: 100%;
            margin: 10px auto;
            .card-img {
                width: 100%;
                height: auto;
                img {
                    width:300px;
                    height: 350px;
                }
            }
        }
    }
}

@media all and (max-width:450px) {
    #products-wrapper {
        width: 100%;
        margin: 10px auto 0 auto;
        .card {
            width: 100%;
            margin: 0 auto;
            .card-img {
                width: 100%;
                height: auto;
                img {
                    width:220px;
                    height: 270px;
                }
            }
        }
    }
}
@media all and (max-width:320px) {
    #products-wrapper {
        width: 100%;
        margin: 10px auto 0 auto;
        .card {
            width: 100%;
            margin: 0 auto;
            .card-img {
                width: 100%;
                height: auto;
                img {
                    width:100%;
                    height: auto;
                }
            }
        }
    }
}
