{{>navbar}}
<div class="container text-center">
  <h1 class="text-center">Thank you for choosing us!</h1>
  <h4>Please click on the button below to proceed to check out for upgrading to Pro Account.</h4>
  <a class="btn btn-primary" href="/membership/charge">Upgrade to Pro Account</a>
  <form action="/membership/cancel" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <br>
    <button class="btn btn-danger" type="submit">Cancel</button>
  </form>
</div>