{{>navbar}}  
<div class="container text-center">
    <h1>Sorry!</h1>
    <h3>This product is not anymore on our website </h3>
     <h3>You are welcome to review other great <a href="/"><bold>products</bold></a> </h3>
</div>