{{>navbar}}  
<div class="container text-center">
    <h1>Thank you!</h1>
    <p>Your payment has been successfully finished</p>
    <p>To download your product please go in orders and press button download on the product you bought</p>
    <a class="btn btn-primary" href="/orders">Go to orders page</a>
</div>