.wrapperAvatar {
   width: 200px;
   height: 200px;
   border: 1px solid black;
   margin-bottom: 10px;
   text-align: center;
 
   .avatarImage{
       width: 200px;
       height: 200px;
       margin-bottom: 10px;
       font-size: 15px;
       text-align: center;
       line-height: 2;
       
       
    }
   
    
}

