$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

//base
@import "base/colors";
///modules
@import  "./modules/alert-colors";
@import "./modules/signup";
@import "./modules/login";
@import  "./modules/shopping_cart";
@import  "./modules/avatarImage";
//components
@import "./components/navbar";
@import  "./components/departments";
//pages
@import  "./pages/product-detail";

@import  "./pages/home";

// content that is common for all users
@import  "./account/all-users/contact";
@import  "./account/all-users/delete-account";
@import  "./account/all-users/reset-password";
@import  "./account/all-users/modal-signup";


//user-basic
@import  "./account/user_basic/profile";
//customer
@import  "/account/customer/profile";
//dashboard
@import  "./dashboard/dashboard";
@import  "./dashboard/mobile-menu";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

ul,li,a{
    body {
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        overflow-x:hidden;
        
    }
    list-style-type: none;
    text-decoration: none;
}
#map{
    width: 100%;
    height: 400px;
}
pre{
    width: 100%;
    height: 40px;
}



