$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import "base/colors";
@import "layout/navbar";
@import  "/layout/departments";
@import  "/layout/product-details";
@import  "/layout/products";
@import  "/account/alerts";
@import  "/account/login";
@import  "/account/signup";
@import  "/account/contact";
@import  "/partials/quantity_btn";
@import  "/partials/category_btn";
@import  "/partials/shopping_cart";
@import  "/dashboard/dashboard";
@import  "/dashboard/mobile-menu";
* {box-sizing: border-box;}
#map{
    width: 100%;
    height: 400px;
}
pre{
    width: 100%;
    height: 40px;
}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x:hidden;
    
}
 ul,li,a {
     padding: 0;
     margin: 0;
    list-style-type: none;
    text-decoration: none;
 }



