<div class="row">
  <!--  edit admin-sidebar-user-basic in partial folder-->
  {{>dashboard-sidebar}}
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <div class="col-lg-10">
        <h1>Add Product</h1>
        <hr> {{#if error_msg}} {{#each error_msg}}
        <div class="alert alert-danger">
          {{msg}}
        </div>
        {{/each}} {{/if}} {{#if errors}} {{#each errors}}
        <div class="alert alert-danger">
          {{msg}}
        </div>
        {{/each}} {{/if}} {{#if success_msg}} {{#each success_msg}}
        <div class="alert alert-success">
          {{msg}}
        </div>
        {{/each}} {{/if}}
        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">Add Product</h3>
          </div>

          <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="general" role="tabpanel">
                <br>
              </div>
              <div class="wrapperAvatar">
              </div>
              <p class="product-image-error"></p>
              <div class="panel panel-default">
                <div class="panel-body">
                  <h2>Upload Image</h2>
                  <div class="progress">
                    <div class="progress-bar progress-bar-productImage" role="progressbar"></div>
                  </div>
                  <button class="btn btn-lg upload-btn" type="button">Upload Product Image</button>
                </div>
              </div>
              <input id="upload-input-product-image" type="file" name="productImage" class="avatarInput" title="Please upload a Image">
              </form>
            
            
              <p class="product-file-error"></p>
                <form method="POST" action="/upload-product-file?_csrf={{ csrfToken}}" enctype="multipart/form-data" class="upload-file-form">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h2>Upload File</h2>
                    <div class="progress">
                      <div class="progress-bar progress-bar-file " role="progressbar"></div>
                    </div>
                    <button class="btn btn-lg upload-btn-file" type="button">Upload Product file</button>
                  </div>
                </div>
                <input id="upload-input-product-file" type="file" name="productFile" title="Please upload a valid file">
              </form>
              <a  class="btn btn-default pull-right" href="/product/list">Go to Product List Page</a>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>