<div class="row">
  <!--  edit admin-sidebar-user-basic in partial folder-->
  {{>dashboard-sidebar}}
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <div class="col-lg-10">
        <h1>Add Product</h1>
        <hr> {{#if error_msg}} {{#each error_msg}}
        <div class="alert alert-danger">
          {{msg}}
        </div>
        {{/each}} {{/if}} {{#if errors}} {{#each errors}}
        <div class="alert alert-danger">
          {{msg}}
        </div>
        {{/each}} {{/if}} {{#if success_msg}} {{#each success_msg}}
        <div class="alert alert-success">
          {{msg}}
        </div>
        {{/each}} {{/if}}
        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">Add Product</h3>
          </div>
          <form method="POST" action="/product/add?_csrf={{ csrfToken}}" enctype="multipart/form-data">
      
          <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
              <a href="/product/list" class="btn btn-default pull-right " type="submit" name="submit" data-toggle="tooltip" data-placement="top"
                title="Cancel">
                <i class="fa fa-share" style="color:black"></i>
              </a>
              <button class="btn btn-primary pull-right" type="submit" name="submit" data-toggle="tooltip" data-placement="top" title="Save">
                <i class="fa fa-save"></i>
              </button>
            </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="general" role="tabpanel">
                  <br>
                </div>
                 <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control form-control-lg"  name="title" >
                </div>
      
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" rows="3" name="description" minlength="150" maxlength="1500" placeholder="Description must be betwwen 150 and 1500 characters" title="Description must be betwwen 150 and 1500 characters"  required="true"></textarea>
                </div>
                <div class="form-group">
                  <label>Price</label>
                  <input type="text" class="form-control form-control-lg"  placeholder="Product price must be between 1 and 4 numbers" maxlength="4" minlength="1" name="price" pattern=".{1,4}"  title="Price must be between 1 and 4 numbers"  required="true" >
                </div>
               
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Category</label>
                  <select class="form-control" name="category" >
                    <option value='all'>All</option>
            
                    <option value="pdf-files">PDF File</option>
                    <option value="images">Images</option>
                    <option value="website-themes">Website Themes</option>
                    <option value="scripts">Scripts</option>
                    <option value="cv">CV</option>
                    <option value="plugins">PLugins</option>
                    <option value="music-sheets">Music Files</option>
                    <option value="graphics">Graphics</option>
                  </select>
                </div>
              </div>
               <div class="wrapperAvatar">
              <img class="avatarImage " src="" alt="1400 x 1400 pixels minimum  (bigger is better.jpg, .gif or .png, 10MB max"   />
            </div>
              <input type="file" name="productImage" class="avatarInput" > 
          </div>
           </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
</div>
</div>