<div class="row">
  <!--  edit admin-sidebar-user-basic in partial folder-->
  {{>user-dashboard-sidebar}}
  <!-- Main Content -->
  <div class="container-fluid">
    <div class="side-body">
      <div class="col-lg-10">
        <h1>Add Product</h1>
        <hr> 
        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title">Add Product</h3>
          </div>

          <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="general" role="tabpanel">
                <br>
              </div>
              <div class="wrapperAvatar">
              </div>
             
              <p class="product-file-error"></p>
               <p class="error-msg">{{msgError}}</p>
                <form method="POST" action="/upload/product/file?_csrf={{ csrfToken}}" enctype="multipart/form-data" class="upload-file-form">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h2>Upload File</h2>
                    <p>Max size 50MB</p>
                     <p> zip, tar, rar or 7z </p>
                  </div>
                </div>
                <input id="upload-input-product-file" type="file" name="productFile" title="Please upload a valid file" required="true"  title="Please select an image" accept=".zip,.tar,.7z,.rar">
                 <button class="btn btn-default pull-right">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>